{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Sobre o projeto</h1>
    <p>Este é um sistema educacional desenvolvido para a disciplina de Desenvolvimento de Aplicações Web.</p>
    <p>Desenvolvido por: <a href="https://github.com/mrafaelbatista">@mrafaelbatista | Messias R. Batista</a></p>

     <h1>Sobre a equipe</h1>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="https://th.bing.com/th/id/OIP.V4GCvDlMgxn9sCINDanuuAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="Descrição da imagem">
              <div class="card-body">
                <p class="card-text">Eu sou Karina Justino, pesquisadora de ciência de dados no campo educacional(ficticio).</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://th.bing.com/th/id/OIP.V4GCvDlMgxn9sCINDanuuAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="Descrição da imagem">
              <div class="card-body">
                <p class="card-text">Eu sou Lucas Lima, homem especializado em ser mentiroso(real).</p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="https://th.bing.com/th/id/OIP.V4GCvDlMgxn9sCINDanuuAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="Descrição da imagem">
              <div class="card-body">
                <p class="card-text">Eu sou Yuri Klissmann, especialista em UX/UI(ficticio).</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://th.bing.com/th/id/OIP.V4GCvDlMgxn9sCINDanuuAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="Descrição da imagem">
              <div class="card-body">
                <p class="card-text">Eu sou Itally, gerente de projetos com experiência em projetos educacionais(ficticio).</p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="https://th.bing.com/th/id/OIP.V4GCvDlMgxn9sCINDanuuAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="Descrição da imagem">
              <div class="card-body">
                <p class="card-text">Eu sou Gabriel Suassuna, dono de uma bananeira azul(ficticio).</p>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
